<div class="card m-2">
    <div class="card-body">
      <h2 class="card-title">Sunday Timetable</h2>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.ghfgggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
