<div class="container-fluid">
  <div class="row m-4  bg-warning">
   <div class="col-sm-4  bg-success ">
   
     
      <form>
         
        <div class="form-group">
          <label for="sel1">Select Any :</label>
           <select class="form-control p-4" id="sel1">
             <option>Saturday</option>
             <option>Sunday</option>
            </select>
         </div>

          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>      
        
      </form>
    </div>

  

       
      
 
  <div class="col-sm-8 ">
    <nav>
      <a class="button" routerLink="/saturday">Saturday-Details</a> |
      <a class="button" routerLink="/sunday">Saunday-Details</a>|
      <a class="button" routerLink="/chart">Chart-Details</a>
    </nav>
    
    <router-outlet>

    </router-outlet>
   
    
  </div>
</div>

</div>
